.taskInformation {
  width: 50%;
  margin-left: 25vw;
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: space-between;

}
.titleTask{
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  color: var(--blue-300);
}

.countTask{
  background: var(--gray-400);
  color: white;
  width: 25px;
  height: 19px;
  padding: 2px 8px;
  border-radius: 10px;
}