.contentTask{
  width: 50%;
  margin-left: 25vw;
  margin-top: 24px;

}

.contentEmpty{
  margin-top: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.contentEmpty p strong{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: center;
}
