.taskForm {
    width: 50%;
    margin-left: 25vw;
    margin-top: -30px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.taskForm textarea{
    width: 100%;
    background: var(--gray-500);
    border: 0;
    resize: none;
    height: 3.375rem;
    border-radius: 8px;
    padding: 16px;
    color: var(--gray-300);
    line-height: 1.4rem;
    overflow-y: hidden;
}

.taskForm button{
    display: flex;
    align-items: center;
    gap: 8px;
}

.taskForm button[type=submit]{
    background: var(--blue-500);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    border: 0;
    color: var(--white);
    cursor: pointer;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.225rem;
    transition: background-color 0.2s;
}
.taskForm button[type=submit]:hover{
    background: var(--blue-300);
}


.taskForm button svg{
    width: 1rem;
    height: 1rem;
}

