.taskForm {
    width: 50%;
    margin-left: 25vw;
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.taskForm input{
    width: 100%;
    background: var(--gray-500);
    border: 0;
    resize: none;
    height: 3.375rem;
    border-radius: 8px;
    padding: 16px;
    color: var(--gray-100);
    line-height: 1.4rem;
    overflow-y: hidden;
}

.taskForm button{
    display: flex;
    align-items: center;
    gap: 8px;
}

.taskForm button[type=submit]{
    background: var(--blue-500);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    border: 0;
    color: var(--white);
    cursor: pointer;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.225rem;
    transition: background-color 0.2s;
}
.taskForm button[type=submit]:hover{
    background: var(--blue-300);
}


.taskForm button svg{
    width: 1rem;
    height: 1rem;
}

.taskInformation {
    width: 50%;
    margin-left: 25vw;
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
  
  }
  .titleTaskCreated{
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1rem;
    color: var(--blue-300);
  }

  .titleTaskComplete{
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1rem;
    color: var(--purple-500);
  }
  
  .countTask{
    background: var(--gray-400);
    color: white;
    width: 25px;
    height: 19px;
    padding: 2px 8px;
    border-radius: 10px;
  }
  .contentTask{
    width: 50%;
    margin-left: 25vw;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  
  }
  
  .contentEmpty{
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .isContentEmpty{
    display: none;
  }
  
  .contentEmpty p strong{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: center;
  }
  
  @media (max-width: 400px){
    .taskForm{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      margin-left: 5vw;
    }
    .contentTask{
      width:90%;
      margin-left: 5vw;
    }
    .taskInformation {
      width: 90%;
      margin-left: 5vw;
    }
    
  }
  @media (max-width: 600px){
    .taskForm{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      margin-left: 5vw;
    }
    .contentTask{
      width:90%;
      margin-left: 5vw;
    }
    .taskInformation {
      width: 90%;
      margin-left: 5vw;
    }    
}