.contentTask{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 12px;
  justify-content: space-between;
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.contentTask button{
  background: transparent;
  border: 0;
  cursor: pointer;
  color: var(--gray-300);
}

.contentTask button:hover{
  color: var(--red);
}